body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}
p,h2,h3,h4 {
  color: #4e9df7;
}
h1 {
  color: tomato;
}
image {
  border: 100px solid #4e9df7;
}